<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>注册界面</title>

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- Custom CSS -->
<link href="css/sb-admin.css" rel="stylesheet">
<!-- Morris Charts CSS -->
<link href="css/plugins/morris.css" rel="stylesheet">
</head>
<body>
<div class="container">
		<div id="registerbox" style="margin-top: 50px;"
			class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
			<div class="panel panel-info">
				<div class="panel-heading">
					<div class="panel-title">
						<img class="img-fluid img-rounded" alt="logo "
							src="images/logo.jpg " style="max-width: 30px;"> 注册
					</div>
				</div>

				<div style="padding-top: 30px" class="panel-body ">

					<div style="display: none" id="login-alert "
						class="alert alert-danger col-sm-12 "></div>

					<form id="registerform" class="form-horizontal" role="form"
						action="register" method="post">
						<div class="form-group ">
							<div style="margin-bottom: 25px" class="input-group">
								<span class="input-group-addon"><i class="fa fa-user "></i></span>
								<input id="register-username" type="text" class="form-control "
									name="username" placeholder="请输入您的账户 " data-bv-notempty
									data-bv-notempty-message="您的账户不能为空 ">
							</div>
						</div>
						<div class="form-group ">
							<div style="margin-bottom: 25px" class="input-group ">
								<span class="input-group-addon"><i class="fa fa-lock "></i></span>
								<input id="register-email" type="text"
									class="form-control " name="email" placeholder="请输入您的邮箱"
									data-bv-notempty data-bv-notempty-message="您的邮箱不能为空 ">
							</div>
						</div>
						<div class="form-group ">
							<div style="margin-bottom: 25px" class="input-group ">
								<span class="input-group-addon"><i class="fa fa-lock "></i></span>
								<input id="register-password1" type="password"
									class="form-control " name="password1" placeholder="请输入您的密码 "
									data-bv-notempty data-bv-notempty-message="您的密码不能为空 ">
							</div>
						</div>
						<div class="form-group ">
							<div style="margin-bottom: 25px" class="input-group ">
								<span class="input-group-addon"><i class="fa fa-lock "></i></span>
								<input id="register-password2" type="password"
									class="form-control " name="password2" placeholder="请再次输入您的密码 "
									data-bv-notempty data-bv-notempty-message="您的密码不能为空 ">
							</div>
						</div>
						<div style="margin-top: 10px" class="form-group ">
							<!-- Button -->
							<div class="col-sm-12 controls ">
								<button type="submit" class="btn btn-success col-sm-4 ">确认</button>
								<button type="reset" class="btn btn-success col-sm-4 ">重置</button>
							</div>
						</div>
						<!-- <p class="info form-group alert alert-danger "></p> -->
						#if($!registerInfo)
						<p class="loginInfo form-group alert alert-danger ">$!registerInfo</p>
						#end
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<!-- Js库 -->
<script src="js/jquery.js "></script>
<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js "></script>
<link href="css/plugins/bootstrapValidator.min.css " rel="stylesheet ">
<script src="js/plugins/bootstrapValidator/bootstrapValidator.min.js "></script>
<script type="text/javascript ">
	jQuery.noConflict();
	(function($) {
		$(function() {
			$("#submit-btn ").on(
					"click ",
					function() {
						$("#registerform ").bootstrapValidator();
						var isValid = $('#registerform')
								.data('bootstrapValidator').isValid();
						//console.log(isValid);
						if (isValid) {
							$("#registerform ").submit();
						}
					});
		})
	})(jQuery)
</script>
</html>